.main{
    height: 90vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    
    .enclosure{
        width: 50%;
        height: 100%;

        .header{
            padding: 3%;
            display: flex;
            justify-content: center;
        }

        .middle{
            padding: 3%;
            display: flex;
            justify-content: center;

            img{
                border-radius: 40%;
            }
        }

        form{
            background-color: rgba(107, 106, 106, 0.068);
            padding: 3%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .status{
                margin: 5% auto;
                color: red;
            }
            input{
                margin: 15%;
                padding: 1%;
                width: 50%;
                margin: auto;
                border: none;
                background-color: rgba(128, 128, 128, 0.247);
            }

            button{
                margin: 10% auto;
                padding: 2% 0%;
                width: 50%;
                background-color: greenyellow;
                border: none;
                font-size: larger;
            }

            a{

            }
        }
    }


}